<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: black;
        }
        nav {
            background-color: #696969;
        }

    </style>
    <title>Home</title>
</head>
<body>
    <nav>SnowCoder404
        <button>
           Home
        </button>
        <button>
           Info
        </button>
        <button>
           Logout
        </button>
    </nav>
    <p>{{user}}</p>
     <footer>&copy; 2023 <a href="https://github.com/SnowCoder404">SnowCoder404</a></footer>
</body>
</html>